{{- /* Go Template */ -}}
{{ define "title" }}
  "Groupie Tracker"
{{ end }}
{{define "content"}}

<button>
   <i class="fa-solid fa-filter"></i> 
</button>

<!-- FILTERS -->
<div id="filters" >
  <form id="filtr" action="/" method="GET" >
    <p id="choosefiltrs">CHOOSE FILTERS:</p>
    <p> Creation Date:</p>
    <div class="slidecontainer">
      <p>Year: <span id="CreationYear"></span></p>
      <label for="volume">from</label>
      <input type="range"  name="CreationDateFrom" min={{.FiltersConstrains.MinYearCreation}} max={{.FiltersConstrains.MaxYearCreation}} value={{.FiltersConstrains.MinYearCreation}} class="slider inYear" id="myRange">
      <span class="outYear"></span>
    </div>
    <div class="slidecontainer">
      <label for="volume">to</label>
      <input type="range"  name="CreationDateTo" min={{.FiltersConstrains.MinYearCreation}} max={{.FiltersConstrains.MaxYearCreation}} value={{.FiltersConstrains.MaxYearCreation}}  class="slider inYear" id="myRange">
      <span class="outYear"></span>
    </div>
    <br><br>
      
    <p> First Album Date:</p> <!-- FROM:... TO:...-->
    {{$selectedDay := .FiltersValues.FirstAlbumDay }}
    <select name="FirstAlbumDay">
      <option value="0">---</option>
      <option value="01">1</option>
      <option value="02">2</option>
      <option value="03">3</option>
      <option value="04">4</option>
      <option value="05">5</option>
      <option value="06">6</option>
      <option value="07">7</option>
      <option value="08">8</option>
      <option value="09">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
      <option value="19">19</option>
      <option value="20">20</option>
      <option value="21">21</option>
      <option value="22">22</option>
      <option value="23">23</option>
      <option value="24">24</option>
      <option value="25">25</option>
      <option value="26">26</option>
      <option value="27">27</option>
      <option value="28">28</option>
      <option value="29">29</option>
      <option value="30">30</option>
      <option value="31">31</option>
    </select>
    <select name="FirstAlbumMonth">
      {{$selectedMonth := .FiltersValues.FirstAlbumMonth }}
      <option value="0">---</option>
      <option value="01">January</option>
      <option value="02">February</option>
      <option value="03">March</option>
      <option value="04">April</option>
      <option value="05">May</option>
      <option value="06">June</option>
      <option value="07">July</option>
      <option value="08">August</option>
      <option value="09">September</option>
      <option value="10">October</option>
      <option value="11">November</option>
      <option value="12">December</option>
    </select>

    <div class="slidecontainer">
      <input type="text" name="FirstAlbumYear" pattern="(19\d\d|20[012]\d)">
      <p>Year: <span id="CreationYear22"></span></p>
    </div><br><br>

    <p> Number Of Members:</p> 
    {{$flags := .FiltersValues.Members }}
    {{range $index, $i := .FiltersConstrains.Members}}
      <span>
        <input type="checkbox" id={{$i}} name="Members" value={{$i}} {{/*if index $flags $index}}checked{{end*/}} />
        <label for={{$i}}>{{$i}}</label>
      </span>
    {{end}}
   
    <p> Locations Of Concerts:</p>
    <input type="text" id="location-filter" name="Location" list="location-list">
    <datalist id="location-list">
      <option id = "0" value="">--Please choose an option--</option>
      {{$selected := .FiltersValues.Location }}
      {{range $loc, $val := .FiltersConstrains.Locations}}
          <option id={{$loc}} value={{$loc}} {{/*if eq $loc $selected}}selected{{end*/}} >{{$loc}}</option>
      {{end}}
    </datalist>

    <p> Name of group:</p>
    <input type="text" name="Name"/>
    
    <input type="submit" value="Submit" id="subbutt">
  </form>
</div>

<script>rangeValue()</script>
 <!-- FILTERS -->


<main  class="cards">

{{ range $i, $card := .Artists }}
  <a href="/info?id={{.Id}}" class="card" id="{{ .Id }}">
    <div class="card_top">
      <section class="card_left">
          <img class="cover" src="{{ $card.Image }}" alt="{{ $card.Name }}">
        <div class="info_details">  
          <p class="info_row" id="creation">
              <span id="title_creation" class="title" >Creation: </span>
              {{ $card.CreationDate }}
          </p>
          <p class="info_row" id="album">
              <span id="title_album" class="title" >The first album: </span>
              {{ $card.FirstAlbum }}
          </p>
        </div>
      </section>
      <section class="card_right">
        <h2 class="band_name title">{{ $card.Name }}</h2>
        <div class="members">
          <ul>
            {{ range $card.Members }}
            <li>{{ . }}</li>
            {{ end }}
          </ul>
        </div>
      </section>
    </div>
    <div class="card_bottom">
      <button class="button">SEE MORE</button>
    </div>
  </a>
  {{ else}}
    No bands 
  {{end}}

</main> 

{{end}}
